* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  font-size: 67.5%;
  --btn-w: 6rem;
  --btn-font-size:3rem;
  --input-font-size:5rem;
  --f7-theme-color: #09b1a3;
  --f7-theme-color-rgb: 9, 177, 163;
}
body {
  font-size: 16px;
}
.main-container {
  display: flex;
  min-height: 100vh;
}
.btns-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.calculator-container {
  height: 100vh;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 750px;
  margin: auto;
  width: 100%;
  max-height: 780px;
  gap: 0.75rem;
  padding-top: 1.5rem;
  background: #fff;
  
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  align-items: flex-end;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(var(--btn-w, 5rem), 1fr));
  grid-template-rows: repeat(5, minmax(var(--btn-w, 5rem), 1fr));
  grid-gap: 0.35rem;
  // background: #f3f3f3;
  flex: 1;
  padding: 0.5rem;
  padding-top: 0;
}
.grid-box {
  box-shadow: 0px 4px 10px #0003;
  background: #fff;
border-radius: 1rem;
  &.equal-btn-box {
    grid-column: 3/5;
    color: #fff ;
    background-color: var(--f7-theme-color);
  }
  
}

.btn {
  display: block;
  padding: 0.5rem;
  height: 100%;
  font-weight: 500;
  font-size: var(--btn-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  color: inherit;
  border-radius: 0;
  
  
}

.operators-container {
  display: grid;

  grid-template-rows: repeat(4, var(--btn-w, 5rem));
  flex-shrink: 0;
  grid-row: 1/5;
  grid-column: 4;
  gap: 0.20rem;
  > .grid-box {
    background: rgba(var(--f7-theme-color-rgb), 0.3);
    .btn {
      color: #000;
    }
  }
}

.top-operators-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3.5rem,1fr));
  flex:1;
  grid-gap: 0.75rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
.top-ops-btn{
  font-size: 2.5rem;
  font-weight: 500;
   height: auto;
  box-shadow: 0 4px 10px #0003;
}
}
.input-container {
  // align-items: flex-end;
  display: flex;

  flex-direction: column;
  flex: 1;
  padding-right: 0.8rem;
  .input {
    display: inline-block;
  width: 100%;
  font-family: inherit;
  // white-space: nowrap;
  resize: none;
  height: max-content;
  max-height: 75px;
  font-size: var(--input-font-size,5rem);
  font-weight: 400;
  transition: 0.5s ease-out;
  transform: translateY(0);
  border: none;
  outline: none;
  caret-color: var(--f7-theme-color);
  text-align: right;
  background: transparent;
  &.hide{
    transform: translateY(-10rem);
  visibility: hidden;
  }
}
}

.output {
  text-align: right;
  font-size: 2.75rem;
  min-height: 3rem;
  color: #7f8084;
  transition:font-size 0.4s,transform 0.4s;
  &.large{
    font-size: 4.5rem;
    transform: translateY(-1rem);
  } 
  &.hide {
    visibility: hidden;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (orientation: landscape),(min-width: 640px) {
  :root{
    --btn-font-size:2.5rem;
--input-fontsize:4rem;
--btn-w:2rem;
  }
  .grid {
    grid-template-columns: repeat(5, minmax(var(--btn-w, 3rem), 1fr));
  grid-template-rows: repeat(4, minmax(var(--btn-w, 3rem), 1fr));
  padding-left: 0;
  .btn{
    padding: 0;
  }
  }
  .operators-container{
  
    grid-column: 5;
    grid-row: 1/5;
     grid-template-rows: repeat(3, minmax(var(--btn-w, 3rem),1fr));
  }
  .btns-container{
    flex-direction: row;
  }
  .top-operators-container {
    margin-bottom: 0;
  padding-top: 0;
  }

  .top-btns-toggle {
    display: none;
  }
}
