* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  font-size: 67.5%;
  --btn-w: 6rem;
  --btn-font-size:3rem;
  --input-font-size:5rem;
  --f7-theme-color: #0d887e;
  --f7-theme-color-rgb: 13, 136, 126;
}
body {
  font-size: 16px;
}
.main-container {
  display: flex;
  min-height: 100vh;
}
.btns-container {
  display: flex;
  flex-direction: column;
}
.calculator-container {
  height: 100vh;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 750px;
  margin: auto;
  width: 100%;
  max-height: 780px;
  gap: 0.75rem;
  padding-top: 1.5rem;
  background: #fff;
  
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  align-items: flex-end;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(var(--btn-w, 5rem), 1fr));
  grid-template-rows: repeat(5, minmax(var(--btn-w, 5rem), 1fr));
  grid-gap: 0.15rem;
  // background: #e3e4e4;
  // padding: 1rem;
  // padding-right: 1rem;
  flex: 1;
}
.grid-box {
  
  background: #f5f7f6;

  &.equal-btn-box {
    grid-column: 3/5;
    color: #fff ;
    background-color: var(--f7-theme-color);
  }
  &.backspace {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
}

.btn {
  display: block;
  padding: 0.5rem;
  height: 100%;
  font-weight: 500;
  font-size: var(--btn-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  color: inherit;
  border-radius: 0;
  
  &.btn-colored {
    color: var(--f7-theme-color);
  }
}

.operators-container {
  display: grid;

  grid-template-rows: repeat(4, var(--btn-w, 5rem));
  flex-shrink: 0;
  grid-row: 1/5;
  grid-column: 4;
  gap: 0.15rem;
  // padding: 1rem;
  > * {
    background: rgba(var(--f7-theme-color-rgb), 0.3);
    .btn {
      color: #000;
    }
  }
}

// .top-operators-container {
//   display: grid;
//   grid-template-columns: repeat(4, 5rem);
//   flex-shrink: 0;
//   grid-gap: 1rem;
//   padding-left: 1rem;
//   padding-right: 0;
//   // padding-bottom: 1rem;
//   // background: lightsalmon;
// }
// .top-operators-container > * {
//   font-size: 2.5rem;
//   font-weight: 500;
// }
.input-container {
  align-items: flex-end;
  display: flex;

  flex-direction: column;
  flex: 1;
  padding-right: 0.8rem;
}
.input-container .input {
  display: block;
  width: 100%;
  font-family: inherit;
  padding: 0.5rem;
  white-space: nowrap;
  font-size: var(--input-font-size,5rem);
  font-weight: 400;
  transition: all 0.3s;
  border: none;
  outline: none;
  caret-color: var(--f7-theme-color);
  text-align: right;
  background: transparent;
}
.input-wrapper {
  position: relative;
  width: 100%;
}
.input-wrapper .indicator {
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  right: 0;
  background: var(--f7-theme-color);
  border-radius: 25px;
  animation: blink 1s infinite;
}
.output {
  text-align: right;
  font-size: 2.75rem;
  min-height: 3rem;
  color: #7f8084;
  &.hide {
    visibility: hidden;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (orientation: landscape),(min-width: 640px) {
  :root{
    --btn-font-size:2.5rem;
--input-fontsize:4rem;
  }
  .grid {
    --btn-w:3rem;
    grid-template-columns: repeat(5, minmax(var(--btn-w, 5rem), 1fr));
  grid-template-rows: repeat(4, minmax(var(--btn-w, 5rem), 1fr));
> .grid-box{
   &.equal-btn-box {
    // grid-column: 3/6;
  
  }
}
  }
  .operators-container{
  
    grid-column: 5;
    grid-row: 1/5;
     grid-template-rows: repeat(3, minmax(var(--btn-w, 5rem)));
  }
  
  .top-operators-container {
    // grid-template-columns: repeat(3, 5rem);
  }

  .top-btns-toggle {
    display: none;
  }
}
